@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');


.myBtn {
  font-size: 20px;
  font-family: 'Tinos', serif;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px 5px 0;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

.myBtn:hover {
  background-color: #bcc2f7;
}