@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

$fontSize: 20px;
$fontFamily: 'Tinos', serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2daf2;
    font-family: $fontFamily;
    font-size: $fontSize;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid #3b8743;
    border-radius: 10px;
    background-color: #cffad4;

    button {
        font-size: $fontSize;
        font-family: $fontFamily;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
        background-color: #fff;
        cursor: pointer;
    }
}

.post_btns {
    display: flex;
}


.post_comments {
    max-width: 800px;
    margin-bottom: 30px;
    p {
    font-style: italic;
    }
}

#without_posts {
    text-align: center;
    font-size: 25px;
    font-family: $fontFamily;
    margin-top: 15px;
}

#without_posts_img {
    margin-top: 20px;

    img {
        width: 250px;
        height: 300px;
    }
}

.sort_select {
    padding: 5px;
    font-size: $fontSize;
    font-family: $fontFamily;
    border: 1px solid #000;
    border-radius: 5px;
}

.pagination_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pagination_number {
    padding: 7px 10px;
    margin-right: 10px;
}

#pagination_number_current {
    padding: 7px 10px;
    margin-right: 10px;
    background-color: #bcc2f7;
    border: 2px solid #000;
}

.navbar {
    max-width: 800px;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: rgb(188, 194, 247, 0.4);
    margin-bottom: 20px;
}
.navbar_links {
    margin-right: auto;

    a {
        margin-right: 20px;
        font-family: $fontFamily;
        font-size: 21px;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        color: black;
        padding-bottom: 3px;

            &:hover {
            border-bottom: 1px solid black;
        }
    }
}

.login_warning {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    color: #3b8743;
    text-align: center;
}

.about {
    max-width: 800px;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}